@media only screen and (min-width: 600px) and (max-device-width: 652px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-10j8ku9 {
    height: 60vh;
  }
}
@media only screen and (min-width: 653px) and (max-device-width: 719px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-10j8ku9 {
    height: 72vh;
  }
}
@media only screen and (min-width: 720px) and (max-device-width: 739px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-10j8ku9 {
    height: 50vh;
  }
}
@media only screen and (min-width: 740px) and (max-device-width: 766px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-10j8ku9 {
    height: 60vh;
  }
}
@media only screen and (min-width: 767px) and (max-device-width: 819px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-kyrejg {
    width: 55%;
    height: 400px;
  }
  .css-10j8ku9 {
    height: 42vh;
  }
}
@media only screen and (min-width: 820px) and (max-device-width: 843px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-10j8ku9 {
    height: 40vh;
  }
}
@media only screen and (min-width: 844px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-10j8ku9 {
    height: 60vh;
  }
}
