@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.MuiBreadcrumbs-ol {
  justify-content: right;
}

.color-p {
  color: $color-primary;
}
.color-t {
  color: $text-primary;
}
.bg-p {
  background-color: $color-primary;
}
.bg-t {
  background-color: $color-primary;
}

.box_color {
  -webkit-animation: float 8s ease-in-out infinite;
          animation: float 8s ease-in-out infinite;
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important;
}