.box__breadcrumb {
  display: block;
}
.box__sidebar {
  display: none;
}

.box__iconButton {
  display: none;
}

.box__tooltip {
  display: flex;
}

/* 600px / 16px = 37.5em */
@media only screen and (max-width: 37.5em) {
  .box__breadcrumb {
    display: none;
  }

  .box__sidebar {
    display: block;
  }

  .box__iconButton {
    display: flex;
    align-items: center;
  }

  .box__tooltip {
    display: none;
  }
}
